/* 
Author: Nicholas Clifford
Date: 7/24/24
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: lightgray; */
    background-image: url(img/background.avif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
    box-shadow: 2px 10px 20px;
}

.logo {
    text-decoration: none;
    color: white;
}

.navbar a {
    padding-right: 15px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: orange;
}

.aboutme {
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: white;
    padding: 40px;
    display: grid;
    grid-gap: 200px;
    grid-template-areas: 
    'info infoimage';
    box-shadow: 2px 10px 20px;
}
.info h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: xx-large;
    color: black;
}

.info h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: xx-large;
    color: black;
}

.info p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    color: black;
}


.projects {
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'link1 link2 link3';
}

.projectshead {
    display: grid;
    justify-items: center;
    margin-top: 130px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    box-shadow: 2px 15px 20px;

}

.projects a {
    font-size: x-large;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}

.projects a:hover {
    color: orange;
}

.projects p {
    margin-top: 50px;
    font-size: larger;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}



.link1, .link2, .link3 {
    text-align: center;
    width: 15rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: orange;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: 100px;
    padding: 30px;
    background-color: black;
}

footer p {
    color: white;
}


.container2 {
    justify-items: center;
    display: grid;
    width: 850px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 2px 15px 20px;
}

.container2 li {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
}

.container2 h2 {

    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    display: block;
    margin-top: 15px;
    background-color: white;
    border-bottom: black solid;
}

.parts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;

}

.container3 {
    text-align: center;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-areas: 
    'email phone';
    justify-items: center;
}

.email, .phone {
    background-color: white;
    padding: 20px;
    width: 300px; 
    box-shadow: 2px 15px 20px;
}

.email a, .phone a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.email h2, .phone h2 {
    padding: 10px;
    font-size: 2rem;
}

.email a:hover, .phone a:hover {
    color: orange;
}

.container4 {
    margin: auto;
    margin-top: 100px;
    font-size: 1rem;
    display: grid;
    justify-content: center;
    width: 700px;
    background-color: white;
}

.container4 {
    margin: auto;
    margin-top: 100px;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 15px 20px;

}

.container4 h2 {
    padding: 20px;
}

fieldset {
    padding: 20px;
}

table {
    margin-top: 150px;
    margin-left: 300px;
    width: 60%; 
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 2px black solid;
    text-align: center;
    color: black;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 102%;
}

tr:nth-child(even) {
    background-color: #ff9b71;
    opacity: .85;
}

tr:nth-child(odd) {
    background-color: #b56b45;
    opacity: .85;
}

th {
    background-color: #444140;
    opacity: .85;
}


@media (max-width: 979px) {
    .infoimage {
        display: none;
    }

    .aboutme {
        grid-gap: 0px;
    }

    .projects {
        grid-template-areas: 
        'link1'
        'link2'
        'link3';
    }
    .container3 {
        grid-template-areas: 
        'email'
        'phone';
        grid-gap: 40px;
    }

    .container2 {
        width: 400px;
    }

    table {
        margin-left: 200px;
        width: 60%; 
    }

}

@media (max-width: 500px) {
    table {
        margin-left: 10px;
    }

}